{
  "clouds5": {
    "token": "Token <INSERT TOKEN HERE>",
    "url": "https://clouds5.matrixreq.com"
  },
  "localhost": {
    "token": "Token <INSERT TOKEN HERE>",
    "url": "http://localhost:8080/devMaster"
  }
}

